html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.container-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 9fr 1fr; 
    grid-template-areas:
    'navbar'
    'filtros'
    'main'
    'footer';
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #6D8B74;
}

.navbar img {
    width: 8vh;
}

.brand {
    display: flex;
    align-items: left;
    justify-content: left;
}