html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D0C9C0;
}

/* Container-grid */
.grid-container {
    display: grid;
    grid-template-areas:
    'navbar filtros'
    'navbar main'
    'navbar main'
    'footer main';
    grid-template-columns: 1fr 11fr;
    overflow-x: hidden;

}

/* Navbar */

.navbar {
    display:grid;
    grid-area: navbar;
    background-color: #6D8B74;
    width: 100%;    

}

.menu li, a, button {
    font-weight: 500;
    font-size: 25px;
    text-decoration: none ;
    color: #edf0f1;

}

.menu {
    display: flex;
    justify-content: top;
    align-items: center;    
}

.logo {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: start;
}

.items {
    display: grid;
    gap: 6vh;
    list-style: none;
}

.items li {
    display: inline-block;
    padding: 0px 20px;
}

.items li a {
    transition: all 0.3 ease 0;
}

.items li a:hover{
    color: #dfdfdf;
}

button {
    padding: 9px 25px;
    background-color: black;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0;
}

button:hover {
    background-color: #edf0f1;
    color: black;
    border-color: #6D8B74;
    cursor: pointer;
}

/* filter */

.select h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:normal ;
}

.select {    
    grid-area: filtros;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: gainsboro;
    padding-bottom: 1vh;
    padding-right: 2vh;
}

.select select {

    font-size: 1.25rem;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    color:#fff;
    cursor:pointer;
    font-family: 'Open Sans', sans-serif;
}

    
/* Main-container */
.main-container {
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1vh;
    padding-bottom: 4vh;
    gap: 5vh;
}

.contenido-main {
    display: flex;
    flex-direction: column;
}

.main-container img {    
    width: 25vh;
    height: 20vh;

}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4vh;
    height: 72vh;
    overflow-y: auto;
    width: 100%;
    padding-bottom: 2vh;
    padding-left: 7vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: #203239;
    color: snow;
    width: 75%;
    padding-top: 5vh;
    height: 90%;
}

.card img {
    width: 100%;
}

.card button {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.card:hover {
    box-shadow: 1px 0 10px 0 #141E27;
}

/* pagination */

.flex-item {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}

.pagination {
    display: inline-block;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid gray;
  }

  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    font-size: 20px;
  }
  
  .pagination a:hover:not(.active) {background-color: #efefef;}

  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

/* Footer */
.footer-container {
    display:grid;
    grid-area: footer;
    width: 100%;
    
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6D8B74;
    padding-top: 2vh;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}


/* Media Querys */
@media (max-width: 576px) {
    
    .main-container{
        width: 100%;
        grid-template-columns: 1fr;
    }


    .cards {
        display:grid;
        grid-template-columns: 1fr; 
        justify-content: center;
        align-items: center;
        height: 50vh;
        padding-left: auto;
    }

    .navbar {
        grid-template-columns: 11fr 1fr;
    }

    .nav-burger {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2vh;      
    }

    .menu {
        display: none;
    }

    .logo img {
        width: 10vh;
    }

    .logo {
        justify-content: space-between;
    }

    .grid-container {
        display: grid;
        grid-template-areas:
        'navbar'
        'filtros'
        'main'
        'footer';
        grid-template-columns: 1fr;
    }

}

@media (min-width: 576px) and (max-width: 992px) {
    .main-container {
        grid-template-columns: 1fr;
    }

   

    .nav-button{
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        font-size: 5vh;
    }

    .items {
        display: flex;
        gap: 0;
    }
    
    .logo img{
        width: 15vh;
    }

    .grid-container {
        display: grid;
        grid-template-areas:
        'navbar navbar'
        'filtros main'
        'filtros main'
        'footer footer';
    }

    .cards {
        grid-template-columns: 1fr 1fr;
    }
}


@media (min-width: 992px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .nav-button{
        display: none;
    }


    .menu {
        display: flex;
        flex-direction: column;
    }

    .items li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}